affine==2.2.2
attrs==19.1.0
beautifulsoup4==4.7.1
boto3==1.9.180
botocore==1.12.180
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
distro==1.4.0
docutils==0.14
GDAL==2.4.0
Geohash==1.0
geojson==2.4.1
jmespath==0.9.4
lxml==4.3.4
numpy==1.16.4
polygon-geohasher==0.0.1
pyparsing==2.4.0
python-dateutil==2.8.0
python-geohash==0.8.5
python-magic==0.4.15
rasterio==1.0.24
s3transfer==0.2.1
Shapely==1.6.4.post2
six==1.12.0
snuggs==1.4.6
soupsieve==1.9.2
urllib3==1.25.3
